html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    padding: 5px;
    text-align: center;
    border: 2px solid black;
    border-radius: 6px;
    margin: 10px 10px;
}

.cart-card {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    margin: 2px 5px;
    justify-content: space-around;
}

.link-btn{
    padding:5px;
    background-color:black;
    color:white;
    text-decoration:none;
}

.cart {
    position: absolute;
    width: 95%;
    background-color: aliceblue;
    z-index: 2;
    display:none;
}

.card div{
    margin-top:auto;
}

.card div button {
    margin: 5px;
}

.BookShow {
    width: 97vw;
    text-align: center;
}

.BookShow div {
    display: flex;
    justify-content: center;
    text-align:center;
}

.BookShow div button {
    margin: 3px 20px;
    padding: 10px;
}

.BookShow div img {
    height: 360px;
}

@media only screen and (min-width: 600px) {
    .cart {
        position: absolute;
        width: 70%;
        right:0;
        background-color: aliceblue;
        z-index: 2;
        display: none;
    }
}